__pycache__/
*.py[cod]
*$py.class
*.so
.eggs/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
.tox/
.coverage
.coverage.*
.cache
logs/
output.xml
report.html
log.html
.temp
.idea
.classpath
target/
.project
.settings/
.metadata/
.idea/
*.iml
npm-debug.log
